h1{
    background-color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 60px;
    border: 10px solid black;
    margin: 60px;
}

padding is margin with color
margin
